<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
   </head>
   <body>
      <h1>California Housing Price Prediction</h1>
      <p>Enter the following details to get the price of the house</p>
      <!-- Main input for receiving query to out ML-->
       <form action="{{url_for('predict')}}" method="POST">
         <label for="median_income">Median Income</label><br>
         <input type="text" name="MedInc" placeholder="median_income" required="required"><br>
         
         <label for="housing_median_age">Housing Median Age</label><br>
         <input type="text" name="HouseAge" placeholder="housing_median_age" required="required"><br>
         
         <label for="average_rooms">Average Rooms</label><br>
         <input type="text" name="AveRooms" placeholder="average_rooms" required="required"><br>
         
         <label for="average_bedrooms">Average Bedrooms</label><br>
         <input type="text" name="AveBedrms" placeholder="average_bedrooms" required="required"><br>
         
         <label for="population">Population</label><br>
         <input type="text" name="Population" placeholder="population" required="required"><br>
         
         <label for="average_occupancy">Average Occupancy</label><br>
         <input type="text" name="AveOccup" placeholder="average_occupancy" required="required"><br>
         
         <label for="latitude">Latitude</label><br>
         <input type="text" name="Latitude" placeholder="latitude" required="required"><br>
         
         <label for="longitude">Longitude</label><br>
         <input type="text" name="Longitude" placeholder="longitude" required="required"><br>
            
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      <script src="" async defer></script>
      </form>
      <br>  
   <div>
   {{prediction_text}}
   </div>
   <script src="" async defer></script>
   </body>
</html>